<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body class="container">
<div class="row">
    <div class="col-md-4">
        <div class="dropdown">
            <span class="btn btn-default" data-toggle="dropdown">Choose Predefined Server</span>
            <ul class="dropdown-menu predefined" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">nethack@alt.org</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">acehack@acehack.de</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-5">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="server-string" placeholder="username@server">
            </div>
            <span class="btn btn-default connect">Connect</span>
        </div>
    </div>
</div>

<div id="terminals">
    <ul class="nav nav-tabs"></ul>
    <div class="tab-content"></div>
</div>
</body>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/term.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>