body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#terminals {
    margin-top: 50px;
}

.tab-pane > .header {
    background-color: #CCC;
    height: 1em;
    padding: 5px;
    box-sizing: content-box;
}