body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#terminals {
    margin-top: 50px;
}

.nav-tabs > li > a > .remove {
    color: #F00;
    padding-left: 10px;
    font-weight: bold;
}

.tab-pane > .header {
    background-color: #CCC;
    height: 18px;
    padding: 5px;
    box-sizing: content-box;
}